<div class="w-full flex my-8">
    <a id = "createRecipeButton"
       href="/createRecipe"
       class="block bg-secondary-pink text-center text-md no-underline text-eggshell mx-auto p-2 px-8 rounded-3xl shadow-md hover:shadow-xl">
        Create Recipe</a>
</div>