<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <script src = "/controller/timer.js"></script>
    <script src = "/controller/exitBrowser.js"></script>
</head>