<nav class="bg-eggshell text-primary-dg shadow">
    <div class="container px-6 py-3 mx-auto flex justify-between items-center">
        <div class="flex items-center justify-between">
            <div>
                <a class="text-xl font-bold md:text-2xl hover:text-secondary-pink" href="/">App Name</a>
            </div>
        </div>

        <div class="items-center flex">
            <div class="flex flex-row mx-6">
<!--                <a class="mx-4 hover:text-yellow-400">My Cookbook</a>-->
<!--                <a class="mx-4 hover:text-yellow-400">Sign Out</a>-->
                <a id = "loginButton" class="mx-4 hover:text-secondary-pink" href="/login">Login</a>
                <a id = "registerButton" class="mx-4 hover:text-secondary-pink" href="/register">Register</a>
            </div>
        </div>
        <div>
            <!-- ! THIS IS A HARD CODED COOKBOOK, August and I need to chat about auth and storing data -->
            <a id = "cookbookButton" href='/cookbook/6153d4d7cf358e3c2fd48904'>Your Cookbook</a>
        </div>
        <a id = "logoutButton" href="/">Logout</a>
    </div>
</nav>
<script src = "/client_controller/index.js"></script> 
<script>
    if (window.localStorage.getItem("token") != null && window.localStorage.getItem("token").length !== 0) {
        document.getElementById("registerButton").style.display = "none";
        document.getElementById("loginButton").style.display = "none";
    }
    else {
        document.getElementById("cookbookButton").style.display = "none";
        document.getElementById("logoutButton").style.display = "none";
    }
</script>
