<nav class="bg-eggshell text-primary-dg shadow">
    <div class="container px-6 py-3 mx-auto flex justify-between items-center">
        <div class="flex items-center justify-between">
            <div>
                <a class="text-xl font-bold md:text-2xl hover:text-secondary-pink" href="/">App Name</a>
            </div>
        </div>

        <div class="items-center flex">
            <div class="flex flex-row mx-6">
<!--                <a class="mx-4 hover:text-yellow-400">My Cookbook</a>-->
<!--                <a class="mx-4 hover:text-yellow-400">Sign Out</a>-->
                <a class="mx-4 hover:text-secondary-pink" href="/login">Login</a>
                <a class="mx-4 hover:text-secondary-pink" href="/register">Register</a>
            </div>
        </div>

        <a href='/cookbook'>Your Cookbook</a>
    </div>
</nav>
