<div>
    <div class="bg-eggshell flex flex-col rounded-xl p-8 sm:p-4 shadow-md space-y-4">
        <div class="space-y-2">
            <form class="w-full mx-auto" id="searchForm">
                <label class="hidden" for="search-form">Search</label>
                <input class="bg-grey-lightest border-2 border-secondary-brown focus:outline-none focus:ring focus:border-secondary-pink p-1 rounded-lg shadow-inner w-full text-black my-4 shadow-md"
                       placeholder="Search for a recipe"
                       type="text"
                       id="searchInput">

                <div class="flex justify-end">
                    <button class="text-right block bg-primary-lg text-sm no-underline text-eggshell p-1 px-8 rounded-3xl hover:bg-primary-dg shadow-md hover:shadow-lg"
                            id="searchButton"
                            type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>

        <div>
            <p class="text-primary-dg text-sm text-center mt-4" id="searchHeading"></p>
            <p class="border-b-2 border-secondary-brown mt-2"></p>
        </div>

        <div class="flex flex-wrap text-eggshell justify-center" id="recentKeywords">

        </div>
    </div>
</div>

<script src = "/controller/searchField.js"></script>
