<div>
    <div class="bg-eggshell flex flex-col rounded-xl p-8 sm:p-4 shadow-md space-y-4">
        <div class="space-y-2">
            <form class="w-full mx-auto" id="searchForm">
                <label class="hidden" for="search-form">Search</label>
                <input class="bg-grey-lightest border-2 focus:outline-none focus:ring focus:border-secondary-pink p-1 rounded-lg shadow-inner w-full text-black my-4"
                       placeholder="Search for a recipe"
                       type="text"
                       id="searchInput">

                <div class="flex justify-end">
                    <button class="text-right block bg-primary-lg text-sm no-underline text-eggshell p-1 px-8 rounded-3xl hover:bg-primary-dg hover:shadow-md"
                            id="searchButton"
                            type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>

        <div>
            <p class="text-primary-dg text-sm text-center mt-4">Your recent searches</p>
            <p class="border-b-2 border-secondary-brown mt-2"></p>
        </div>

        <div class="flex flex-wrap text-eggshell justify-center">

            <div class="flex bg-secondary-brown px-2 py-1 m-1 rounded-xl hover:bg-secondary-pink">
                <a href="/?search=spicy" class="rounded-m searchTerm">spicy</a>
            </div>

            <div class="flex bg-secondary-brown px-2 py-1 m-1 rounded-xl hover:bg-secondary-pink">
                <a href="/?search=Japanese" class="rounded-m searchTerm">Japanese</a>
            </div>

            <div class="flex bg-secondary-brown px-2 py-1 m-1 rounded-xl hover:bg-secondary-pink">
                <a href="/?search=pizza" class="rounded-m">pizza</a>
            </div>

            <div class="flex bg-secondary-brown px-2 py-1 m-1 rounded-xl hover:bg-secondary-pink">
                <a href="/?search=dessert" class="rounded-m">dessert</a>
            </div>

            <div class="flex bg-secondary-brown px-2 py-1 m-1 rounded-xl hover:bg-secondary-pink">
                <a href="/?search=Italian" class="rounded-m">Italian</a>
            </div>

            <div class="flex bg-secondary-brown px-2 py-1 m-1 rounded-xl hover:bg-secondary-pink">
                <a href="/?search=burgers" class="rounded-m">burgers</a>
            </div>

            <div class="flex bg-secondary-brown px-2 py-1 m-1 rounded-xl hover:bg-secondary-pink">
                <a href="/?search=noodles" class="rounded-m">noodles</a>
            </div>

        </div>
    </div>
</div>

<script src = "/client_controller/index.js"></script>
