<!--// Directory Structure Example-->
<!--// Feel free to delete this file.-->

<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <h1><%= title %></h1>
        <!-- Below is how you essentially get partials (equiv. to React components). Below gets the nav partial -->
        <%- include('./partials/nav.ejs') %>
    </body>
</html>