<!--// Directory Structure Example-->
<!--// Feel free to delete this file.-->

<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <!-- Below is how you essentially get partials (equiv. to React components). Below gets the nav partial -->
        <%- include('./partials/nav.ejs') %>
    </body>
</html>