<!--// Directory Structure Example-->
<!--// Feel free to delete this file.-->

<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <h1>Recipe Details</h1>
        <h2> <%- rec.name %> has the ID <%- rec.id %> </h2>
    </body>
</html>