<html>
    <%- include('./partials/head.ejs') %>
    <body class="h-screen">
        <%- include('./partials/nav.ejs') %>

        Reset password

        <div class="space-y-1">
            <p class="text-md">Password</p>
            <input type="password" id="passwordInput" name="password" class="w-full"/>

            <!-- Password complexity bar -->
            <hr id = "complexityBar" style="border:none; visibility: hidden;" />
        </div>

        <div class="pt-6">
            <!-- Registration button -->
            <button id="submitNewPassword"
                    class="block bg-primary-lg text-center text-md no-underline text-eggshell mx-auto p-2 px-8 rounded-3xl hover:bg-primary-dg hover:shadow-md">
                Confirm Password
            </button>
            <p id = "errorMessage" style="color:red; visibility: hidden; font-size: 14;"></p>
        </div>
        <script src = "/controller/resetPassword.js"></script> 
    </body>
</html>